* {
    margin: 0;
    padding: 0;
  }
  header{
    padding: 10px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con opacidad */

  }
  h1{
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  .contenedor form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 4%;
    margin-bottom: 1%;
    background-color: rgba(24, 27, 75, 0.7);
    padding: 20px;
    border-radius: 10px;
  }
  
  body {
    background: url(../img/fondo-porcorn.jpg);
    font-family: sans-serif;
  }
  
  .button {
    margin-top: 3%;
    background-color: rgb(71, 209, 163);
    text-align: center;
    transition: transform 0.3s;
    margin-top: 20px;
  }
  .buttoncancel{
    margin-top: 3%;
    background-color: rgb(213, 41, 41);
    text-align: center;
    transition: transform 0.3s;
    margin-top: 20px;
  }
  
  .button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .buttoncancel:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  label {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  form label {
    margin-bottom: 3%;
  }
  form input {
    margin-bottom: 3%;
    padding: 2%;
  }

  #mensaje{
    color: white;
  }

  
/* Media queries */
@media (max-width: 1200px) {
  .contenedor form {
    width: 50%;
    margin-top: 4%; 
  }
}

@media (max-width: 768px) {
  .contenedor form {
    width: 75%; 
  }
}

@media (max-width: 576px) {
  .contenedor form {
    width: 75%; 
    margin-top: 20%;
  }
}